/* Slider */
.slider {
    position:relative;
}
.slick-slider {
    position: relative;
    width: 100%;
    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;

    .photo {
        @include transition(transform 400ms ease-in-out);
        @include scale(1.25, 1.25);
    }

    &.slick-active {
        .photo {
            @include scale(1, 1);
        }
    }
}

.slick-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
  max-height: 731px;
  overflow: hidden;
}

.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    width: 100%;

    &:focus,
    &:hover {
        outline: 0;
    }
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
    height: auto;
    width: 100%;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* Slider */
.slick-loading .slick-list {
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    //width: 48px;
    //height: 48px;
    height:100%;
    width:80px;
    background-color:rgba(0,0,0,.1);
    color:$white;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    //color: transparent;
    border: none;
    outline: none;
    //background: transparent;
    @include transition(background-color 300ms ease-in-out);
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: rgba(255,255,255, .2);
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'FontAwesome';
    font-size: 48px;
  font-weight: bold;
    line-height: 1;

    opacity: .75;
    color: $white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  transition: opacity 0.25s;
}

.slick-prev {
    left: 0;
    z-index: 1;
}

[dir='rtl'] .slick-prev {
    right: 0;
    left: auto;
}

.slick-prev:before {
    content: '\f104';
}

[dir='rtl'] .slick-prev:before {
    content: '\f105';
}

.slick-next {
    right: 0;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: 0;
}

.slick-next:before {
    content: '\f105';
}

[dir='rtl'] .slick-next:before {
    content: '\f104';
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-dots {
    position: absolute;
    bottom: 42px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}

.slick-dots li {
    position: relative;

    display: inline-block;

    width: 12px;
    height: 12px;
    margin: 0 4px;
    padding: 0;

    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;

    display: block;

    width: 12px;
    height: 12px;
    padding: 4px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: 'FontAwesome';
    font-size: 16px;
    line-height: 1;

    position: absolute;
    top: 0;
    left: 0;

    width: 9px;
    height: 9px;

    content: '\f111';
    text-align: center;

    opacity: .25;
    color: $white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: opacity 0.25s;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: $white;
}

/**
 * Photo
 */

.photo {
  background-size: cover;
  background-position: center center;
  height: 580px;
  padding:0; margin:0;
  will-change: transform;
  
  
  &.is-animating {
    animation: scale 5s ease-in-out forwards;
  }
  
  &:before {
    content: "";
    display: block;
  }
  
  * > {
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
  }

  .photo_overlay {
        position: absolute;
        top:0; left:0; right:0; bottom:0;
        display:block;
        z-index:1;
    }

    //// photo_content
    .photo_content {
        position: relative;
        z-index:2;
        display:flex;
        align-items:center;
        justify-content:center;
        width:100%;
        text-align:center;
        height:100%;
        color:$white;
        
        .slide_h1, .slide_h2, .slide_h3, .slide_h4, .slide_h5, p {
            color:$white;
            font-weight:$fontBold;
            margin:5px auto;
        }
        .slide_h1 { font-size:5em; margin:0 auto 24px; letter-spacing:2px; }
        .slide_h2 { font-size:4em; margin:20px auto; }
        .slide_h3 { font-size:3em; margin:18px auto; }
        .slide_h4 { font-size:2em; margin:14px auto; }
        p { font-size:1em; margin:12px auto; }

        .slide_h4, .slide_h5, p {
            font-weight:$fontSemiBold;
        }

        .slide_buttons {
            margin-top:36px;
            padding:10px;
        }

    }
}



@-webkit-keyframes scale {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.1) rotate(0.01deg); // Rotate fixes shaking animation in some browsers. http://stackoverflow.com/questions/28992549/internet-explorer-and-css-transform-value-of-scale-on-keyframes
    }
}
@-moz-keyframes scale {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.1) rotate(0.01deg); // Rotate fixes shaking animation in some browsers. http://stackoverflow.com/questions/28992549/internet-explorer-and-css-transform-value-of-scale-on-keyframes
    }
}
@-o-keyframes scale {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.1) rotate(0.01deg); // Rotate fixes shaking animation in some browsers. http://stackoverflow.com/questions/28992549/internet-explorer-and-css-transform-value-of-scale-on-keyframes
    }
}
@keyframes scale {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.1) rotate(0.01deg); // Rotate fixes shaking animation in some browsers. http://stackoverflow.com/questions/28992549/internet-explorer-and-css-transform-value-of-scale-on-keyframes
    }
}